{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logesh's Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header class="page-header">
        <h1><a href="/">Logesh's Blog</a></h1>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
